__pycache__
.DS_Store
*.so
.cache
*.log

# Jupyter Notebook
.ipynb_checkpoints
.virtual_documents

# IPython
profile_default/
ipython_config.py


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.ruff_cache/


*.ipynb_checkpoints/
*.pickle
*.virtual_documents/
*.zip
20*spring/
Course-notes
Course-notes/
EPS101-Cheyenne/
Publishing/
Sources/*/code-for-students/*_workshop_solution.ipynb
Sources/*/code-for-students/*_workshop_solution.pdf
Sources/*/code-for-students/Output/
Sources/*/notes/
development-of-course/
summer-and-j-term/
