# Auto detect text files and perform LF normalization
* text=auto

# add files larger than 90M to LFS storage instead of regular Github
# using the following bash command:
# cd ~/Courses/EPS101
# find . -type f -size +90M \
#   -not -path './.git/*' \
#   -not -path './.git/lfs/*' \
#   -print0 |
# while IFS= read -r -d '' f; do
#   git lfs track "$f"
# done
EPS101-Cheyenne/Output/GIS-AIS-SMB-Cheyenne-data.pickle filter=lfs diff=lfs merge=lfs -text
Sources/Heat-waves/code-for-students/heat_waves_variables.pickle filter=lfs diff=lfs merge=lfs -text
Sources/Forest-fires/code-for-students/forest_fires_variables.pickle filter=lfs diff=lfs merge=lfs -text
Sources/Introduction/introduction_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Introduction/global-warming-swindle-movie/The-Great-Global-Warming-Swindle-HD-SHORT.mp4 filter=lfs diff=lfs merge=lfs -text
Sources/Ice-sheets/ice_sheets_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Hurricanes/hurricanes_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Sea-ice/sea_ice_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Clouds/clouds_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Floods/floods_slides.pdf filter=lfs diff=lfs merge=lfs -text
Sources/Floods/floods_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Droughts/droughts_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Sea-level/sea_level_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Acidification/acidification_slides.key filter=lfs diff=lfs merge=lfs -text
Sources/Mountain-glaciers/mountain_glaciers_slides.key filter=lfs diff=lfs merge=lfs -text
/Data-for-teaching-staff/Heat-waves/Output/to-pickle/heat_waves_weekly_averages_TREFHTMX.npy filter=lfs diff=lfs merge=lfs -text
/Data-for-teaching-staff/Heat-waves/Output/to-pickle/heat_waves_weekly_averages_Z500.npy filter=lfs diff=lfs merge=lfs -text
/Sources/Clouds/clouds_slides.pdf filter=lfs diff=lfs merge=lfs -text
/Sources/Droughts/droughts_slides.pdf filter=lfs diff=lfs merge=lfs -text
/Sources/Forest-fires/code-for-students/Forest-fires.zip filter=lfs diff=lfs merge=lfs -text
/Sources/Heat-waves/code-for-students/Heat-waves.zip filter=lfs diff=lfs merge=lfs -text
/Sources/Heat-waves/heat_waves_slides.key filter=lfs diff=lfs merge=lfs -text
/Sources/Hurricanes/hurricanes_slides.pdf filter=lfs diff=lfs merge=lfs -text
/Sources/Mountain-glaciers/mountain_glaciers_slides.pdf filter=lfs diff=lfs merge=lfs -text
/Sources/Ocean-circulation/ocean_circulation_slides.key filter=lfs diff=lfs merge=lfs -text
/Sources/Sea-level/sea_level_slides.pdf filter=lfs diff=lfs merge=lfs -text
